<h1>Projects</h1>


<% @groups.each do |group| %>
<div class="group_item">
  <h3><%= group.name %><br>
      <%= group.project_name %></h3>
  <p><%= group.firme %></p>
  <%= link_to 'Edit', edit_group_path(group), class: 'btn btn-xs btn-primary' %>
  <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
</div>
<% end %>


<div class="group_item">
  <div class="new">
    <%= link_to new_group_path do %>
      <div class="btn btn-link">
        <span class="glyphicon glyphicon-plus"></span>
      </div>
    <% end %>
  </div>
</div>
