<h1>Docs</h1>

<div class="form-group">
  <%= link_to 'New Doc', new_doc_path, class: 'btn btn-default' %>
</div>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Group</th>
      <th>Number</th>
      <th>Title</th>
      <th>Version</th>
      <th>Type</th>
      <th>Date</th>
      <th>Author</th>
      <th>Size</th>
      <th>ID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @docs.each do |doc| %>
      <% if doc.last_version %>
        <tr class="success">
      <% else %>
        <tr>
      <% end %>
        <td><%= doc.group_id %></td>
        <td><%= doc.number %></td>
        <td><%= doc.title %></td>
        <td><%= doc.version %></td>
        <td><%= doc.doc_type %></td>
        <td><%= doc.doc_date %></td>
        <td><%= doc.author %></td>
        <td><%= doc.size %></td>
        <td><%= doc.id %></td>
        <td><%= link_to 'Edit', edit_doc_path(doc), class: 'btn btn-xs btn-primary' %></td>
        <td><%= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
